.navbar{
    background-color: white;
}
.navbar .link{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-right: 30px;
    transition: all ease-in 0.4s;
}

.navbar .link:hover{
    color: rgb(253, 195, 49);
    border-bottom: 2px solid rgb(253, 195, 49);
    transition: all ease-out 0.4s;
}

.navbar .btn-contact{
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: gold;
    border-radius: rgb(253, 195, 49);
    border-radius: 20px 2px 20px 20px;
    padding: 8px 24px 10px 24px;
}

#hero{
    margin-top: 100px;
}

#hero h4{
    font-weight: 500;
    color: rgb(49, 175, 253);
}

#hero h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 60px;
}

#hero .btn-hire{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: rgb(253, 195, 49);
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 40px;
    transition: all ease-in 0.4s;
}

#hero i{
    color: rgb(49, 175, 253);
}

#hero .btn-hire:hover{
    background-color: rgb(49, 175, 253);
    transition: all ease-out 0.4s;
}

#jasa .card{
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

#jasa{
    padding-top: 100px;
}

#about{
    padding-top: 100px;
}

#about img{
    border-radius: 60px;
}

#portofolio{
    padding-top: 150px;
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
    .navbar ul li{
        margin-bottom: 20px;
    }
    .navbar .btn-contact{
        display: block;
        text-align: center;
        border-radius: 20px;
    }
    #hero{
        margin-top: 40px;
    }
    #hero h1{
        font-size: 50px;
        margin-bottom: 20px;
    }

    .btn-hire{
        margin-bottom: 80px;
    }
}